@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/swiper.min";
@import "components/owl/owl-carousel";
@import "components/owl/owl-theme";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget"; 
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
body{
	font-family: $brand-font;
}
/*** HEADER ***/
#header {
  background: $gray-light;
  color: black;
  .logo {
    max-width: 100%;
    display: block;
    margin: auto;
    max-height: 95px;
  }
  a {
    color: #333;
    @include transition(0.2s);
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  .header-nav {
    max-height: 50px;
    margin-bottom: 10px;
    font-size: rem(14px);
    background: $gray-light;
    border-bottom: $base-border;
    font-family: "Arial", sans-serif;
    #menu-icon {
      vertical-align: middle;
      cursor: pointer;
      width: rem(50px);
      height: rem(50px);
      background: $brand-primary;
      .material-icons {
        line-height: 50px;
        color: white;
      }
    }
    .right-nav {
      @include display(flex);
      @include flex-wrap(nowrap);
      @include justify-content(flex-end);
      .dropdown-menu {
	      font-size: rem(13px);
	      @include border-radius(3px);
	      border: 1px solid $base-border;
	      padding: 0px;
	      margin-top: 9px;
	      a{
		      @include transition(0.2s);
		      line-height: rem(30px);
		      &:hover{
			      color: black;
			      background: $gray-light;
		      }
	      }
      }
    }
    .currency-selector {
      margin-top: rem(10px);
      margin-left: rem(15px);
      white-space: nowrap;
      .expand-more{
	      color: black;
	      &:hover{
		      color: black;
	      }
      }
      i{
	      font-size: rem(14px);
	      padding-left: rem(4px);
	      margin-top: -4px;
      } 
    }
    .user-info {
      margin-left: rem(40px);
      margin-top: rem(10px);
      text-align: right;
      white-space: nowrap;
      a{
	      color: black;
	      @include media-breakpoint-down(sm) {
		      color: black;
	      }
      }
      .account {
        margin-left: $small-space;
      }
      i{
	      font-size: rem(19px);
      }
    }
    .language-selector {
      margin-top: rem(10px);
      white-space: nowrap;
      margin-right: rem(10px);
      .expand-more{
	      color: black;
	      &:hover{
		      color: black;
	      }
      }      
      i{
	      font-size: rem(14px);
	      padding-left: rem(4px);
	      margin-top: -4px;
	      &:hover{
		      color: black;
	      }
      }
      &:hover{
	      span, i{
		      color: black;
	      }
      }
    }
    .cart-preview {
      &.active {
        background: $brand-primary;
        a {
          color: white;
        }
        i {
          color: white;
        }
      }
      .shopping-cart {
        vertical-align: middle;
      }
      .body {
        display: none;
      }
    }
    .blockcart {
	  float: right;
      background: $gray-light;
      height: rem(48px);
      padding: rem(12px);
      margin-left: rem(15px);
      text-align: center;
      white-space: nowrap;
      a {
        color: $gray;
        &:hover {
          color: $brand-primary;
        }
      }
      &.active {
        a:hover {
          color: white;
        }
      }
      .header {
        margin-top: rem(2px);
      }
    }
    #contact-link {
      margin: rem(10px) rem(0px);
      color: white;
      i{
	      font-size: rem(17px);
	      color: $brand-primary;
	      margin-top: rem(-6px);
      }
    }
    .material-icons {
      line-height: inherit;
      &.expand-more {
        margin-left: rem(-6px);
      }
    }
  }
  .header-top {
    > .container {
      position: relative;
    }
    .menu {
	  margin-top: rem(30px);
	  border-top: 1px solid #d3d7d7;
// 	  border-top: 3px dotted $brand-primary;
	  border-bottom: 1px solid #d3d7d7;
      &.fixed-on-scroll{
	    position: fixed;
	    background: white;
	    top: 0px;
	    left: 0;
	    margin-top: 0px;
	    z-index: 100;
	    width: 100%;
	    @include boxshadow(1px 1px 4px rgba(0,0,0, 0.15));
      }	  
      > ul {
	      text-align: center;
	      margin: rem(0px) rem(0px) rem(0px);
	      position: relative;
        > li {
          float: none;
          display: inline-block;
          margin-left: -4px;
          &.current, &:hover{
	          a[data-depth="0"]{
		          background: $brand-primary;
		          color: white;
	          }
          }
        }
      }
      padding-left: 15px;
    }
    .position-static {
      position: static;
      #_desktop_cart{
	      margin-top: 20px;
	      float: right;
	      line-height: rem(42px);
	      font-weight: 700;
	      i{
		      color: $brand-primary;
	      }
      }
    }
    .header-top__inner{
	    display: flex;
	    align-items: center;
	    @include media-breakpoint-down(sm) {
		    display: block; 
	    }
    }
    a[data-depth="0"] {
      text-transform: uppercase;
      color: $black;
      font-weight: 700;
      font-size: rem(15px);
      display: inline-block;
      padding: rem(19px) rem(23px) rem(19px);
      @include transition(0.2s);
      &:hover{
          color: white; 
          background: $brand-primary;
      }     
    }
  }
  .top-menu-link {
    margin-left: $medium-space;
  }
}

.popover {
  font-family: inherit;
}
/*** WRAPPER ***/
#wrapper {
  background: $gray-light;
//   box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.11);
  padding-top: rem(25px);
  .banner {
    margin-bottom: rem(24px);
    display: block;
    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }
  .breadcrumb {
    background: transparent;
    padding: 10px 0px 15px;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: "/";
        color: $gray-dark;
        margin: em(5px);
      }
      &:last-child {
        content: "/";
        color: $gray-dark;
        margin: 0;
        &::after {
          content: "";
        }
      }
      a {
        color: $grey;
        font-size: rem(13px);
      }
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin: rem(10px) rem(0px) rem(30px);
    h1{
	   font-size: rem(18px);
	   font-weight: 600;
	   text-transform: uppercase;
    }
  }
  .page-content {
    margin-bottom: rem(25px);
    h6 {
      margin-bottom: rem(18p);
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: rem(60px);
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}

/*** HOMEPAGE TABS ***/
#homepage-tabs{
	text-align: center;
	.nav-item{
		display: inline-block;
		margin-right: 7px;
		float: none;
		display: inline-block;
		margin: rem(0px) rem(20px);
		a{
			color: $gray-darker;
			@include transition(0.2s);
			border: 0px;
			border-top: 3px solid transparent;
			font-weight: normal;
			font-size: rem(16px);
			background: transparent;
			text-transform: uppercase;
			font-weight: 600;
			padding: rem(19px) rem(0px) rem(22px);
			&.active, &:hover{
				border-color: $brand-primary;
			}
		}		
	}
	>.tab-pane{
		padding-top:30px;
	    float: right;
	    margin-left: -100%;
	    width: 100%;
	    border-top: 1px solid #ebebeb;
	    margin-top: 66px !important;
	}
	@include media-breakpoint-down(sm) {
		.nav-item{
			margin: rem(0px) rem(8px) rem(5px);
			a{
				padding: rem(5px) rem(0px);
				font-size: 12px;
				border-top:2px solid transparent;
			}
		}
	}
}

/*** FOOTER ***/
#footer {
  .h3, h3 a, h4, h3{ 
	  color: white !important;
	  font-weight: normal;
	  display: inline-block; 
	  padding-bottom: rem(15px);
  }
}

// Scroll Top
#scroll-top{
	position: fixed;
	bottom: -80px;
	right: 5%; 
	text-align: center;
	line-height: 40px;
	display: inline-block;
	line-height: 53px !important;
	width:45px;
	height: 45px;
	@include border-radius(100%);
	@include transition(0.2s);
	background: rgba(0,0,0, 0.3);
	svg{
		fill: white;
		margin-bottom: rem(2px);
	}
	&:hover{
		background: rgba(0,0,0, 0.7);
	}
}


/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
    padding-top: 0px;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  #header {
    background: $gray-light;
    .header-nav {
      background: white;
      margin-bottom: rem(10px);
      color: $gray-darker;
      .top-logo {
        line-height: 50px;
        vertical-align: middle;
        width: 130px;
        margin: 0 auto;
        padding-top: rem(0px);
        a {
          img {
            max-height: 50px;
            max-width: 100%;
            display: inline-block;
          }
        }
      }
      .right-nav {
        @include flex-direction(column);
      }
      .user-info {
        text-align: left;
        margin-left: 0;
        .logged {
          color: $brand-primary;
        }
        i{
	        line-height: rem(24px);
	        font-size: rem(24px);
        }
      }
      .blockcart {
        margin-left: rem(8px);
        background: $brand-primary;
        a, span {
          color: white;
        }
        i {
          color: black;
        }        
        &.active {
          margin-left: rem(8px);
        }
        &.inactive {
          .cart-products-count {
            color: black;
          }
        }
      }
    }
    .header-top {
      background: $gray-light;
      padding-bottom: 0;
      a[data-depth="0"] {
        color: $gray-darker;
	      padding: rem(10px) auto;
	      @include border-radius(0px);    
	      border-top:0px !important;
	      &:hover{
		      color: $gray-darker;
		      background: white;
	      }    
      }
    }
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  #footer {
    padding-top: rem(0px);
  }
 #home-page-tabs {
	 .nav-item a{
		 font-size: rem(12px);
		 padding: rem(7px) rem(12px);
		 margin: rem(5px) rem(0px);
	 }
 }
}
#blockcart-modal .cart-content .btn{
	padding: 12px 22px;
}


@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  #header .logo {
    width: auto;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto rem(15px);
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
  #header .header-top {
  	a[data-depth="0"]{
	  padding: rem(13px) rem(20px);
    }
   	a[data-depth="1"]{
	  &:hover{
		  color: inherit;
	  }
    }  
    #contact-link {
	    i{
		    color: $brand-primary;
		    font-size: rem(16px);
	    }
    } 
  }  
}

@include media-breakpoint-down(xs) {
  #left-column, #content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

//Homepage Banners
.homepage_banners{
	background: #f3f3f3;
	padding:40px 0px 10px;
	float: left;
	@include media-breakpoint-down(sm){
		margin-bottom: 0px;
	}
	.col-md-4{		
		@include media-breakpoint-down(sm){
			margin-bottom: 15px;
		}
		>a{
			display: inline-block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			border:1px solid $border-color;
			img{
				width:100%;
				height: auto;
				@include transition(0.3s);
			}
		}
		.desc{
			position: absolute;
			display: inline-block;
			text-align: center;
			top:50%;
			@include transform(translateY(-50%));
			z-index: 10;
			margin-left: -15px;
			width: 100%;
			padding: 0px 20px;
			a{
				color: white;
				&:hover{
					color: white;
				}
			}
			h2{
				text-transform: uppercase;
				letter-spacing: -1px;
				font-weight: 700;
				font-size: rem(40px);
				@include media-breakpoint-down(sm){
					font-size: 35px;
					width: 100%;
					padding: 0px 20px;
				}
			}	
			span{
				text-transform: uppercase;
				display: inline-block;
				position: relative;
				margin-top:5px;
				padding-top:15px;
				@include transition(0.3s);
				&:before{
					content: "";
					display: inline-block;
					position: absolute;
					width: 46px;
					height: 2px;
					left: 50%;
					margin-left: -23px;
					top:0;
					background: $brand-primary;
				}
			}
		}
		&:hover{
			img{
				@include transform(scale(1.15));
			}
			.desc{
				span{
					padding-top: 15px;
					margin-top: 5px;
					&:before{
						height: 2px;
					}
				}
			}
		}		
	}
}

.store_features{
	text-align: left;
	margin-bottom: 0px;
	float: left;
	width: 100%;
	margin: 5px 0px 10px;
	img{
		float: left;
		margin-right: 20px;
	}
	div{
		padding-top: 5px;
		margin-bottom: 10px;
		h4{
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
		span{
			color: #888888;
		}
	}
}

.top-banners{
	margin: 15px 0px 40px;
	display: inline-block;
	.col-md-6{
		position: relative;
		padding: 0px 10px;
		>a{
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
 			img{
				width: 100%;
				height: auto;
// 				border: 1px solid $border-color;	
				@include transition(0.3s);				
			}			
		}
		.desc{
			position: absolute;
			left: 52%;
			top: 50%;
			z-index: 10;
			text-align: left;
			@include transform(translateY(-50%));
			h2{
				font-size: 24px;
				@include transition(0.2s);
				max-width: 250px;
				text-transform: uppercase;
				font-weight: 600;
			}
			span{
				display: inline-block;
				float: left;
				margin-top: 0px;
				width: 100%;
				@include transition(0.2s);
			}
			a{
				display: inline-block;
				float: left;
				margin-top: 22px;
				background:$brand-primary;
// 				border:1px solid  $brand-primary;
				color: white;
				padding: 8px 15px;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
				@include transition(0.2s);
				text-decoration: none;
				@include border-radius(35px);
				&:hover{
					background:  $brand-hover;
				}
			}
		}
		&:hover{
			img{
				@include transform(scale(1.2));
			}
			.desc{
/*
				h2{
					text-decoration: underline;
				}
*/
			}
		}
	}
	@include media-breakpoint-down(sm){
		margin-bottom: 20px;
		.col-md-6{
			margin-bottom: 10px;
			.desc{
				h2{
					font-size: 18px;
				}
				span{
					font-size: 14px;
				}
				a{
					display: none;
				}
			}
		}
	}	
}


